.links{
    display: flex;
    background-color :rgb(72, 58, 58);
    height: 10vh;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    top: 0;
    width: 100%;
    
    
}
.gym{
 color: red;
 font-size: 27px;
 text-decoration: none;

}
.lin{

color: rgb(255, 0, 0);
 font-size: 27px;
 text-decoration: none;
 padding: 20px;
}
