.priceMain{
    display: flex;
    justify-content: space-evenly;
  }
  .card {
    position: relative;
    width: 250px;
    height: 450px;
    overflow: hidden;
    background-color:black;
    text-align: center;
     color: black;
      
  }
  
   
  
  .card:hover  {
    transform: scale(1.2);
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:wheat ;
    /* color: rgb(109, 30, 30); */
    opacity: 0.3;
     
    transition: opacity 0.3s ease-in-out;
    /* display: flex;  */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* padding: 20px; */
     /* text-align: center;  */
  }
  
  .card:hover .card-overlay {
    opacity: 2;
  }