.griding1{
    display: grid;
    grid-template-columns: 15em 15em 15em 15em;
    height: 85vh;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 2em ;
   padding-top: 20em;

     
}